---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";
const pageTitle = "Inhaltsverzeichnis der Kurse";
const description =
  "Schnell registrieren und sofort auf Notenbücher und Musiknoten zugreifen – ohne Abo, ohne automatische Verlängerung.";
const keywords = "Notenbücher, Musiknoten, Gitarrennoten, Download Noten";
const pageUrl = getPageUrl(Astro);


---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <p>
    Nach dem Kauf erhältst du direkten Zugriff auf deine Noten – ganz ohne Abo.
  </p>

  <ul>
    <li>✅ Sicher bezahlen</li>
    <li>✅ Sofortiger Zugriff auf deine Noten</li>
    <li>✅ Zugang für einen unbegrenzten Zeitraum</li>
  </ul>

  <p>
    Du behältst jederzeit die volle Kontrolle. Kein Zeitdruck, kein
    Kleingedrucktes.
  </p>

  <h2>Orgel/Keyboard Kurse</h2>

  <p>
    <strong>Jetzt direkt spielen!</strong>
  </p>
 
  <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td data-label="Titel">Hammond Flip</td>
            <td data-label="Komponist">Klaus Wunderlich</td>
            <td data-label="Instrument">Keyboard</td>
          </tr>
          <tr>
            <td data-label="anhören">
              <a href="https://drive.google.com/file/d/1t78ztmJQ1Qpx6NErVMyF7jJn0zm6cvoX/preview"
                class="normal-links"
                target="_blank"
                rel="noopener">
                  Hammond Flip – anhören
              </a>
            </td>
            <td data-label="ansehen">
              <a
                href="/kunden-login/hammond-flip/"
                class="normal-links">Kaufen</a
              >
            </td>
            <td data-label="download">
              <a href="https://www.youtube.com/watch?v=244HlpB3JoA"
                class="normal-links"
                target="_blank"
                rel="noopener"
                >YouTube Video: Hammond Flip</a
              >
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td data-label="Titel">Lullaby In Blue</td>
            <td data-label="Komponist">Klaus Wunderlich</td>
            <td data-label="Instrument">Keyboard</td>
          </tr>
          <tr>
            <td data-label="anhören">
              <a
                href="/Songs/Barcarole.mid"
                target="_blank"
                class="normal-links">anhören</a
              >
            </td>
            <td data-label="ansehen">
              <a
                href="/bilder/Barcarole.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td data-label="download">
              <a href="/zip_download/Barcarole.zip" class="normal-links"
                >download 259 KB</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Variante A -->
      <br />
      <div class="basis-card">
        <div class="basis-header">ID: 1</div>
        <div><span>Titel:</span> Hammond Flip</div>
        <div><span>Komponist:</span> Klaus Wunderlich</div>
        <div><span>Instrument:</span> Keyboard</div>
        <div>
          <span>anhören:</span><a
            href="https://drive.google.com/file/d/1t78ztmJQ1Qpx6NErVMyF7jJn0zm6cvoX/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            Hammond Flip - Play Along</a
          >
        </div>
        <div>
          <span>ansehen:</span><a
            href="/kunden-login/hammond-flip/"
                class="normal-links"> kaufen</a"
          >
        </div>
        <div>
          <span>YouTubeVideo:</span><a
            href="https://www.youtube.com/watch?v=244HlpB3JoA"
              class="normal-links"
              target="_blank"
              rel="noopener"
          >
            Hammond Flip2</a
          >
        </div>
      </div>
      <div class="basis-card">
        <div class="basis-header">ID: 2</div>
        <div><span>Titel:</span> Barcarole</div>
        <div><span>Komponist:</span> Offenbach</div>
        <div><span>Instrument:</span> Keyboard</div>
        <div>
          <span>anhören:</span><a
            href="/Songs/Barcarole.mid"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören</a
          >
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Barcarole.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Barcarole.zip"
            class="normal-links"
          >
            download 189 KB</a
          >
        </div>
      </div>
      
      </div>
      
      </div>
      
      </div>
      
      
      </div>
      
      
      </div>
   
  <p>
      <a
        href="/gitarrenunterricht/"
        class="normal-links"
        aria-label="Zurück zu Gitarrenunterricht"
      >
        Zurück zu Gitarrenunterricht
      </a>
    </p>
  <p>
    <a href="/kunden-login/" class="normal-links">Zurück zur Übersicht</a>
  </p>
</BaseLayout>
