---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPageUrl } from "../../utils/getPageUrl.js";
const pageTitle = "Inhaltsverzeichnis der Kurse";
const description =
  "Sofort auf Notenbücher und Musiknoten zugreifen – ohne Abo, ohne automatische Verlängerung.";
const keywords = "Notenbücher, Musiknoten, Gitarrennoten, Download Noten";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <p>
    Nach dem Kauf erhalten Sie direkten Zugriff auf alle Noten und Playbacks –
    ganz ohne Abo.
  </p>

  <ul>
    <li>✅ Sicher bezahlen</li>
    <li>✅ Sofortiger Zugriff auf alle Noten und Playbacks</li>
    <li>✅ Zugang für einen unbegrenzten Zeitraum</li>
  </ul>

  <p>
    Du behältst jederzeit die volle Kontrolle. Kein Zeitdruck, kein
    Kleingedrucktes.
  </p>

  <h2>Orgel/Keyboard Kurse</h2>

  <p>
    <strong>Jetzt direkt spielen!</strong>
  </p>

  <table class="basis-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Komponist</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td data-label="Titel">Hammond Flip</td>
        <td data-label="Komponist">Klaus Wunderlich</td>
        <td data-label="Instrument">Keyboard</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1t78ztmJQ1Qpx6NErVMyF7jJn0zm6cvoX/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/hammond-flip/" class="normal-links">Kaufen</a>
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=244HlpB3JoA"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Hammond Flip ansehen"
            rel="noopener">YouTube Video: Hammond Flip</a
          >
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td data-label="Titel">Lullaby In Blue</td>
        <td data-label="Komponist">Klaus Wunderlich</td>
        <td data-label="Instrument">Keyboard</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1JTik5UfWYy7zKIvBejyQ2ltiJEyKQvc6/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/lullaby-in-blue/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=XfIO3ZWqe6g"
            class="normal-links"
            target="_blank"
            rel="noopener">YouTube Video: Lullaby In Blue</a
          >
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td data-label="Titel">Kleiner Schelm</td>
        <td data-label="Komponist">Klaus Wunderlich</td>
        <td data-label="Instrument">Keyboard</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1JIfAu3pjlYPAJMRsJos7dcL8qIXkOpqD/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/kleiner-schelm/" class="normal-links">Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=dRz-VMVUNlY"
            class="normal-links"
            target="_blank"
            rel="noopener">YouTube Video: Kleiner Schelm</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Variante A gefaltet -->
  <br />
  <div class="basis-card">
    <div class="basis-header">ID: 1</div>
    <div><span>Titel:</span> Hammond Flip</div>
    <div><span>Komponist:</span> Klaus Wunderlich</div>
    <div><span>Instrument:</span> Keyboard</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1JTik5UfWYy7zKIvBejyQ2ltiJEyKQvc6/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/hammond-flip/"
        class="normal-links"
      >
        kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=244HlpB3JoA"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Hammond Flip ansehen"
        rel="noopener"
      >
        Hammond Flip</a
      >
    </div>
  </div>
  <div class="basis-card">
    <div class="basis-header">ID: 2</div>
    <div><span>Titel:</span> Lullaby In Blue</div>
    <div><span>Komponist:</span> Klaus Wunderlich</div>
    <div><span>Instrument:</span> Keyboard</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1JTik5UfWYy7zKIvBejyQ2ltiJEyKQvc6/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/lullaby-in-blue/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=XfIO3ZWqe6g"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Lullaby In Blue</a
      >
    </div>
  </div>
  <div class="basis-card">
    <div class="basis-header">ID: 3</div>
    <div><span>Titel:</span> Kleiner Schelm</div>
    <div><span>Komponist:</span> Klaus Wunderlich</div>
    <div><span>Instrument:</span> Keyboard</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1JIfAu3pjlYPAJMRsJos7dcL8qIXkOpqD/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/kleiner-schelm/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=dRz-VMVUNlY"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Kleiner Schelm</a
      >
    </div>
  </div>

  <h2>Gitarren Kurse</h2>

  <table class="basis-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Komponist</th>
        <th>Instrument</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td data-label="Titel">The Lion Sleeps Tonight</td>
        <td data-label="Komponist">Tokens</td>
        <td data-label="Instrument">Akustik Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1-mo63I6v5hePqOrrbJqEz6w1PaiI8NH0/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/the-lion-sleeps-tonight/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=eFcGadGwenQ"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu The Lion Sleeps Tonight ansehen"
            rel="noopener">YouTube Video: The Lion Sleeps Tonight</a
          >
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td data-label="Titel">Silence Is Golden</td>
        <td data-label="Komponist">Tremeloes</td>
        <td data-label="Instrument">Akustik Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1OsFtazOaWIKphqXaDHqeQGXZrJKt2RgP/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/silence-is-golden/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=OxBca9ZfFv8"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Silence Is Golden ansehen"
            rel="noopener">YouTube Video: Silence Is Golden</a
          >
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td data-label="Titel">Catch The Wind</td>
        <td data-label="Komponist">Donovan</td>
        <td data-label="Instrument">Akustik Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/19jXw9-t0b-TLr_2xsYvPAVHdw5exWBzW/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/catchthewind/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=ifJuoPeWBU8"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Catch The Wind ansehen"
            rel="noopener">YouTube Video: Catch The Wind</a
          >
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td data-label="Titel">Yesterday</td>
        <td data-label="Komponist">Beatles</td>
        <td data-label="Instrument">Akustik Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1MAQpVBZtTgjpD5-2jI0rRPijYT9PHh0_/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/yesterday/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=Jla_18ar1aE"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Yesterday ansehen"
            rel="noopener">YouTube Video: Yesterday</a
          >
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td data-label="Titel">Like Ice In The Sunshine</td>
        <td data-label="Komponist">Beatles</td>
        <td data-label="Instrument">Akustik Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1FStHNYOBZz5WyhRwXl7RZkGcgNAxlhuw/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/like-ice/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=Jk6ECVwJyZk"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Like Ice In The Sunshine ansehen"
            rel="noopener">YouTube Video: Like Ice In The Sunshine</a
          >
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td data-label="Titel">City Of NewOrleans</td>
        <td data-label="Komponist">Arlo Guthrie</td>
        <td data-label="Instrument">Akustik Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1gpePJSakbeWxTVemqIbmCOMpOuFUh9oQ/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/city-of-neworleans/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=L70MSOuUiG0"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu City Of NewOrleans ansehen"
            rel="noopener">YouTube Video: City Of NewOrleans</a
          >
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td data-label="Titel">Ten Words</td>
        <td data-label="Komponist">Jo Satriani</td>
        <td data-label="Instrument">E-Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/1VC6dS8mLwb0mPzFkvUXNzemQ2wxZGqJP/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/ten-words/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=fcHrj9ryvqo"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Ten Words ansehen"
            rel="noopener">YouTube Video: Ten Words</a
          >
        </td>
      </tr>
      <td>8</td>
        <td data-label="Titel">Take Good Care Of My Baby</td>
        <td data-label="Komponist">Bobby Vee</td>
        <td data-label="Instrument">E-Gitarre</td>
      </tr>
      <tr>
        <td data-label="anhören">
          <a
            href="https://drive.google.com/file/d/18g2WPwbOY2IS5OZzG2t0f24IBQq-QKzi/preview"
            class="normal-links"
            target="_blank"
            rel="noopener"
          >
            anhören
          </a>
        </td>
        <td data-label="ansehen">
          <a href="/kunden-login/take-good-care/" class="normal-links"
            >Kaufen</a
          >
        </td>
        <td data-label="download">
          <a
            href="https://www.youtube.com/watch?v=nUC_b1L_IM4"
            class="normal-links"
            target="_blank"
            aria-label="YouTube Video zu Take Good Care Of My Baby ansehen"
            rel="noopener">YouTube Video: Take Good Care Of My Baby</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Variante A gefaltet -->
  <div class="basis-card">
    <div class="basis-header">ID: 1</div>
    <div><span>Titel:</span> The Lion Sleeps Tonight</div>
    <div><span>Komponist:</span> Tokens</div>
    <div><span>Instrument:</span> Akustik Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1-mo63I6v5hePqOrrbJqEz6w1PaiI8NH0/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/the-lion-sleeps-tonight/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=OxBca9ZfFv8"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu The Lion Sleeps Tonight ansehen"
        rel="noopener"
      >
        The Lion Sleeps Tonight</a
      >
    </div>
    <div class="basis-header">ID: 2</div>
    <div><span>Titel:</span> Silence Is Golden</div>
    <div><span>Komponist:</span> Tremeloes</div>
    <div><span>Instrument:</span> Akustik Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1OsFtazOaWIKphqXaDHqeQGXZrJKt2RgP/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/silence-is-golden/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=OxBca9ZfFv8"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu The Lion Sleeps Tonight ansehen"
        rel="noopener"
      >
        Silence Is Golden</a
      >
    </div>
    <div class="basis-header">ID: 3</div>
    <div><span>Titel:</span> Catch The Wind</div>
    <div><span>Komponist:</span> Donovan</div>
    <div><span>Instrument:</span> Akustik Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/19jXw9-t0b-TLr_2xsYvPAVHdw5exWBzW/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/catchthewind/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=ifJuoPeWBU8"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Catch The Wind ansehen"
        rel="noopener"
      >
        Catch The Wind</a
      >
    </div>
    <div class="basis-header">ID: 4</div>
    <div><span>Titel:</span> Yesterday</div>
    <div><span>Komponist:</span> Beatles</div>
    <div><span>Instrument:</span> Akustik Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1MAQpVBZtTgjpD5-2jI0rRPijYT9PHh0_/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/yesterday/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=Jla_18ar1aE"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Yesterday ansehen"
        rel="noopener"
      >
        Yesterday</a
      >
    </div>
    <div class="basis-header">ID: 5</div>
    <div><span>Titel:</span> Like Ice In The Sunshine</div>
    <div><span>Komponist:</span> Beagle Music</div>
    <div><span>Instrument:</span> Akustik Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1FStHNYOBZz5WyhRwXl7RZkGcgNAxlhuw/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/like-ice/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=Jk6ECVwJyZk"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Yesterday ansehen"
        rel="noopener"
      >
        Like Ice In The Sunshine</a
      >
    </div>
    <div class="basis-header">ID: 6</div>
    <div><span>Titel:</span> City Of NewOrleans</div>
    <div><span>Komponist:</span> Arlo Guthrie</div>
    <div><span>Instrument:</span> Akustik Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1gpePJSakbeWxTVemqIbmCOMpOuFUh9oQ/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/city-of-neworleans/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=L70MSOuUiG0"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Ten Words ansehen"
        rel="noopener"
      >
        City Of NewOrleans</a
      >
    </div>
    <div class="basis-header">ID: 7</div>
    <div><span>Titel:</span> Ten Words</div>
    <div><span>Komponist:</span> Jo Satriani</div>
    <div><span>Instrument:</span> E-Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/1VC6dS8mLwb0mPzFkvUXNzemQ2wxZGqJP/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/ten-words/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=fcHrj9ryvqo"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Ten Words ansehen"
        rel="noopener"
      >
        Ten Words</a
      >
    </div>
    <div class="basis-header">ID: 8</div>
    <div><span>Titel:</span> Take Good Care Of My Baby</div>
    <div><span>Komponist:</span> Bobby Vee</div>
    <div><span>Instrument:</span> E-Gitarrre</div>
    <div>
      <span>anhören:</span><a
        href="https://drive.google.com/file/d/18g2WPwbOY2IS5OZzG2t0f24IBQq-QKzi/preview"
        class="normal-links"
        target="_blank"
        rel="noopener"
      >
        Play Along</a
      >
    </div>
    <div>
      <span>ansehen:</span><a
        href="/kunden-login/take-good-care/"
        class="normal-links"
      >
        Kaufen</a
      >
    </div>
    <div>
      <span>YouTubeVideo:</span><a
        href="https://www.youtube.com/watch?v=nUC_b1L_IM4"
        class="normal-links"
        target="_blank"
        aria-label="YouTube Video zu Take Good Care Of My Baby ansehen"
        rel="noopener"
      >
        Take Good Care Of My Baby</a
      >
    </div>
  </div>

  <p>
    <a href="/kunden-login/" class="normal-links" aria-label="Zurück zu Kurse"
      >Zurück zu Kurse</a
    >
  </p>
</BaseLayout>
