---
import ManuellesBlockieren from "../components/ManuellesBlockieren.astro";
import ExternalScripts from "../components/ExternalScripts.astro";
import ExternalScripts3 from "../components/ExternalScripts3.astro";
import GoogleScripts from "../components/GoogleScripts.astro";
// import ExternalVendorlist from "../components/ExternalVendorlist.astro";
const SITE_URL =
  import.meta.env.SITE_URL || "https://www.musicstudio-ziebart.de";
const pageUrl = `${SITE_URL}/anbieter/`;
const pageTitle = "Anbieter";
// const nonce = Astro.props.nonce || "";
// console.log("Astro nonce in VendorList:", nonce);

const nonce = Astro.props.nonce ?? "";
console.log("Astro nonce:", nonce);
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
  <link rel="manifest" href="/manifest.json" /> -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="max-snippet:-1, INDEX, FOLLOW" />
    <title>{pageTitle}</title>
    <meta name="description" content="Liste der Anbieter und deren Details" />
    <link rel="canonical" href="https://www.musicstudio-ziebart.de/anbieter/" />
    <meta
      name="google-site-verification"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />

    <ManuellesBlockieren />
    <ExternalScripts />
    <ExternalScripts3 />
    <GoogleScripts />
    <!--
    <ExternalVendorlist nonce={nonce} /> -->
  </head>
  <body>
    <h3>Anbieterliste</h3>

    <p>
      Hier finden Sie Informationen über die Verwendung von Cookies auf dieser
      Website.
    </p>

    <!-- Consentmanager Vendorlist Code -->
    <!--
    <div id="cmpvendorlist"></div>
    <div class="cmpvendorlistheader" data-vendor="s23">...</div>
    <div class="cmpvendorlistheader" data-vendor="s1">...</div>
    <div class="cmpvendorlistheader" data-vendor="s26">...</div>
    <div class="cmpvendorlistb018a967f10b6 cmpstyleroot"></div>
    <div class="cmpvendorlistheader" data-vendor="s2612">...</div>
    <div class="cmpvendorlistheader" data-vendor="s135">...</div>
    <div class="cmpvendorlistheader" data-vendor="s905">...</div>
    <div class="cmpvendorlistheader" data-vendor="s30">...</div> -->

    <h3>Anbieterliste 2</h3>
    <div id="cmpvendorlist"></div>
    <div class="cmpvendorlistb018a967f10b6 cmpstyleroot"></div>

    <div class="cmpvendorlistheader" data-vendor="s23">...</div>
    <div class="cmpvendorlistheader" data-vendor="s1">...</div>
    <div class="cmpvendorlistheader" data-vendor="s26">...</div>
    <div class="cmpvendorlistb018a967f10b6 cmpstyleroot"></div>
    <div class="cmpvendorlistheader" data-vendor="s2612">...</div>
    <div class="cmpvendorlistheader" data-vendor="s135">...</div>
    <div class="cmpvendorlistheader" data-vendor="s905">...</div>
    <div class="cmpvendorlistheader" data-vendor="s30">...</div>

    <h4>Cookie Info Liste</h4>

    <div id="cmpcookieinfo"></div>

    <p><a href="/" class="normal-links">Zurück zur Startseite</a></p>

    <br />

    <!-- Externe Skripte für Event Handling -->
     <!--
    <script src="/scripts/menu2.js" nonce={nonce} defer></script> -->
    <script src="/scripts/anbieter-list.js" nonce={nonce} defer></script>
    <script src="/scripts/vendorlist-loader.js" defer nonce={nonce}></script>
    <script src="/scripts/cookie-info.js" defer nonce={nonce}></script>
    <script src="/scripts/debug.js" defer nonce={nonce}></script>
    <script src="/scripts/document-cookie.js" defer nonce={nonce}></script> 
    <!--
    <script src="/scripts/external-script.js" nonce={nonce} defer></script> -->
  </body>
</html>
