---
import BaseLayout from "../layouts/BaseLayout.astro";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
const pageTitle = "Weiterführende Lektionen für E-Gitarre";
const description = "Lerne das Stück Take Good Care Of My Baby 🎸 von Bobby Vee.";
const keywords = "e-gitarrenunterricht für rockgitarre, take good care of my baby - bobby vee, e gitarrenlehrer in nuernberg";
const SITE_URL = import.meta.env.SITE_URL || "https://www.musicstudio-ziebart.de";
const pageUrl = `${SITE_URL}/e-gitarre-videoanleitung2/`;

// RDFa-Markup für das Video nur auf dieser Seite
// Video-Daten
const videoData = [
  {
    loc: `${SITE_URL}/e-gitarre-videoanleitung2/`, // URL der Seite, auf der das Video eingebettet ist
    title: "Take Good Care Of My Baby - Bobby Vee Cover",
    description: "Lerne das Gitarrenstück 'Take Good Care Of My Baby' von Bobby Vee mit dieser detaillierten Gitarrenstunde. Das steht rechts unten auf YouTube ansehen. Darauf klicken dann kann man unten bei der Videobeschreibung die Tabulatur downloaden",
    content_loc: "https://www.youtube.com/embed/nUC_b1L_IM4", // URL des eingebetteten Videos
    thumbnail_loc: "https://i.ytimg.com/vi/nUC_b1L_IM4/hqdefault.jpg", // URL des Vorschaubildes
    publication_date: "2025-01-04T14:00:00+02:00", // Veröffentlichungsdatum im ISO 8601 Format
    duration: "PT17M52S", // Dauer des Videos im ISO 8601 Format
  },
];
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <br />
  <!-- RDFa-Markup Struktur für das VideoObject -->

  {
    videoData.map((video) => (
      <div vocab="http://schema.org/" typeof="VideoObject">
        <meta property="name" content={video.title} />
        <meta property="description" content={video.description} />
        <meta property="contentUrl" content={video.content_loc} />
        <meta property="thumbnailUrl" content={video.thumbnail_loc} />
        <meta property="uploadDate" content={video.publication_date} />
        <meta property="duration" content={video.duration} />
        <meta property="embedUrl" content={video.content_loc} />

        <div class="video-container-wrapper">
          <div class="video-container">
            <lite-youtube
              videoid={video.content_loc.split("/").pop()}
              style={"background-image: url('" + video.thumbnail_loc + "');"}
            >
              <a
                href={video.content_loc}
                class="lty-playbtn"
                title={video.title}
              >
                <span class="lyt-visually-hidden">
                  Play Video: {video.title}
                </span>
              </a>
            </lite-youtube>
          </div>
          <h2>{video.title}</h2>
          <p>{video.description}</p>
        </div>
      </div>
    ))
  }
  <YouTube />
</BaseLayout>
