---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";

const pageTitle = "Download Noten & BackingTrack";
const description = "Hier kannst du die gekauften Noten und das BackingTrack herunterladen.";
const keywords = "Gitarrennoten, BackingTrack, Download";
const pageUrl = getPageUrl(Astro);

// Dateien-Links (ersetze die URLs durch deine tatsächlichen Download-Links)
const pdfLink = "https://www.musicstudio-ziebart.de/bilder/rose_room_solo.pdf";
const pdfLink2="https://www.musicstudio-ziebart.de/bilder/Rose_Room_RhythGuitar.pdf";
const pdfLink3 ="https://www.musicstudio-ziebart.de/Songs/Rose Room - Kontrabass.pdf";
const mp3Link = "https://www.musicstudio-ziebart.de/Songs/rose_room_backingtrack.mp3";
const mp3Link2 = "https://www.musicstudio-ziebart.de/Songs/Rose Room Mastering.mp3";
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <h2>Dein Download</h2>
  <p>
    Vielen Dank für deinen Kauf! Klicke auf die folgenden Links, um deine Dateien herunterzuladen:
  </p>

  <ul>
    <li><a href="https://www.musicstudio-ziebart.de/bilder/rose_room_solo.pdf" download>Rose Room Solo (PDF)</a></li>
    <li><a href="https://www.musicstudio-ziebart.de/bilder/Rose_Room_RhythGuitar.pdf" download>Rose Room RhythGuitar (PDF)</a></li>
    <li><a href ="https://wwww.musicstudio-ziebart.de/bilder/Rose Room - Kontrabass.pdf" download>Rose Room Kontrabass (PDF)</a></li>
    <li><a href="https://www.musicstudio-ziebart.de/Songs/rose_room_backingtrack.mp3" download>Rose Room BackingTrack (MP3)</a></li>
    <li><a href="https://www.musicstudio-ziebart.de/Songs/Rose Room Mastering.mp3" download>Rose Room Mastering (MP3)</a></li>
  </ul>

  <br>
  <p>
    <a href="/" class="normal-links">Zurück zur Startseite</a>
  </p>
</BaseLayout>
