---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Schülermaterial";
const description = "Schüler download";
const keywords = "Songs für Schüler";
const SITE_URL = import.meta.env.SITE_URL || "https://www.musicstudio-ziebart.de";
const pageUrl = `${SITE_URL}/pupils-download/`;
---

<BaseLayout 
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <section id="download2">
    <h2 transition:animate="slide">Gespielte Titel</h2>
    <article>
      <br />
      <br />
      <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Ferry Across The Mersey</td>
            <td>Gerry And The Pacemakers</td>
            <td>Gitarre</td>
          </tr>

          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Ferry.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Ferry Across The Mersey - Guita.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a
                href="/zip_download/Ferry Across The Mersey.zip"
                class="normal-links">download 1,85 MB</a
              >
            </td>
          </tr>

          <tr>
            <td>2</td>
            <td>All Youd Need Is Love</td>
            <td>Beatles</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/All You Need Is Love.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/All You Need Is Love - Guitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/All You Need Is Love - Beatles.zip" class="normal-links"
                >download 3,90 MB</a
              >
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Homeward Bound</td>
            <td>Simon & Garfunkel</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Homeward Bound.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Homeward Bound.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Homeward Bound.zip" class="normal-links"
                >download 4,97 MB</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Variante A -->

      <div class="basis-card">
        <div class="basis-header">ID: 1</div>
        <div><span>Titel:</span> Ferry Across The Mersey</div>
        <div><span>Komponist:</span> Gerry And The Pacemakers</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Ferry.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Ferry Across The Mersey - Guita.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Ferry Across The Mersey.zip"
            class="normal-links"
          >
            download 1,85 MB</a
          >
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 2</div>
        <div><span>Titel:</span> All You Need Is Love</div>
        <div><span>Komponist:</span> Beatles</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>        
          <audio controls>
              <source src="/Songs/All You Need Is Love.mp3" type="audio/mpeg" />
              Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/All You Need Is Love - Guitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/All You Need Is Love - Beatles.zip"
            class="normal-links"
          >
            download 3,90 MB</a
          >
        </div>
      </div>
      <div class="basis-card">
        <div class="basis-header">ID: 3</div>
        <div><span>Titel:</span> Homeward Bound</div>
        <div><span>Komponist:</span> Simon & Garfunkel</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Homeward Bound.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Homeward Bound.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Homeward Bound.zip"
            class="normal-links"
          >
            download 4,97 MB</a
          >
        </div>
      </div>
      <br />
      <p>
        <a href="/" class="normal-links">home</a>
      </p>
    </article>
  </section>
</BaseLayout>
