---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle = "Schülermaterial";
const description = "Schüler download";
const keywords = "Songs für Schüler";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <section id="download2">
    <h2 transition:animate="slide">Gespielte Titel</h2>
    <article>
      <br />
      <br />
      <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Silence Is Golden</td>
            <td>Tremeloes</td>
            <td>Gitarre</td>
          </tr>

          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Silence_Is_Golden_Masterspur.wav" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Silence_Is_Golden-SteelGuitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              leer
            </td>
          </tr>

          <tr>
            <td>2</td>
            <td>All Youd Need Is Love</td>
            <td>Beatles</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source
                  src="/Songs/All You Need Is Love.mp3"
                  type="audio/mpeg"
                />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/All You Need Is Love - Gitarre.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a
                href="/zip_download/All You Need Is Love - Beatles.zip"
                class="normal-links">download 5.07 MB</a
              >
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mrs. Robinson</td>
            <td>Simon & Garfunkel</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Mrs_Robinson.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Mrs_Robinson.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Mrs_Robinson.zip" class="normal-links"
                >download 4,97 MB</a
              >
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Like Ice In The Sunshine</td>
            <td>Beagle Music</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Like_Ice.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Ice_In_The_Sunshine%20-%20Guitar.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Mrs_Robinson.zip" class="normal-links"
                >keinen zip download</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Variante A -->

      <div class="basis-card">
        <div class="basis-header">ID: 1</div>
        <div><span>Titel:</span> Silence Is Golden</div>
        <div><span>Komponist:</span> Tremeloes</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Silence_Is_Golden_Masterspur.wav" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Silence_Is_Golden-SteelGuitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
          >
            leer</a
          >
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 2</div>
        <div><span>Titel:</span> All You Need Is Love</div>
        <div><span>Komponist:</span> Beatles</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/All You Need Is Love.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/All You Need Is Love - Gitarre.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/All You Need Is Love - Beatles.zip"
            class="normal-links"
          >
            download 5,07 MB</a
          >
        </div>
      </div>
      <div class="basis-card">
        <div class="basis-header">ID: 3</div>
        <div><span>Titel:</span> Mrs. Robinson</div>
        <div><span>Komponist:</span> Simon & Garfunkel</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Mrs_Robinson.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Mrs_Robinson.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Mrs_Robinson.zip"
            class="normal-links"
          >
            download 4,97 MB</a
          >
        </div>
        <div class="basis-card">
        <div class="basis-header">ID: 4</div>
        <div><span>Titel:</span> Like Ice In The Sunshine</div>
        <div><span>Komponist:</span> Beagle Music</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Like_Ice.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Ice_In_The_Sunshine%20-%20Guitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Mrs_Robinson.zip"
            class="normal-links"
          >
            Kein Zip Download</a
          >
        </div>
      </div>

      <br />
      <p>
        <a href="/" class="normal-links">home</a>
      </p>
    </article>
  </section>
</BaseLayout>
