---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle = "Schülermaterial";
const description = "Schüler download";
const keywords = "Songs für Schüler";
const pageUrl = getPageUrl(Astro);
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
  <section id="download2">
    <h2 transition:animate="slide">Gespielte Titel</h2>
    <article>
      <br />
      <br />
      <table class="basis-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Komponist</th>
            <th>Instrument</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Catch The Wind</td>
            <td>Donavan</td>
            <td>Gitarre</td>
          </tr>

          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Catch The Wind.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Catch%20The%20Wind%20-%20Guitar.pdf"
                target="_blank"
                class="normal-links">ansehen Revision</a
              >
            </td>
            <td>
              <a
                href="/zip_download/Catch%20The%20Wind.zip"
                class="normal-links">download 3,5 MB</a
              >
            </td>
          </tr>

          <tr>
            <td>2</td>
            <td>All Youd Need Is Love</td>
            <td>Beatles</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source
                  src="/Songs/All You Need Is Love.mp3"
                  type="audio/mpeg"
                />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/All You Need Is Love - Gitarre.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a
                href="/zip_download/All You Need Is Love - Beatles.zip"
                class="normal-links">download 5.07 MB</a
              >
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mrs. Robinson</td>
            <td>Simon & Garfunkel</td>
            <td>Gitarre</td>
          </tr>
          <tr>
            <td>
              <span>anhören</span>
              <audio controls>
                <source src="/Songs/Mrs_Robinson.mp3" type="audio/mpeg" />
                Dein Browser unterstützt das Audio-Element nicht.
              </audio>
            </td>
            <td>
              <a
                href="/bilder/Mrs_Robinson.pdf"
                target="_blank"
                class="normal-links">ansehen</a
              >
            </td>
            <td>
              <a href="/zip_download/Mrs_Robinson.zip" class="normal-links"
                >download 4,97 MB</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Variante A -->

      <div class="basis-card">
        <div class="basis-header">ID: 1</div>
        <div><span>Titel:</span> Catch The Wind</div>
        <div><span>Komponist:</span> Donavan</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Catch The Wind.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen: Revision</span><a
            href="/bilder/Catch%20The%20Wind%29-%20Guitar.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Catch%20The%20Wind.zip"
            class="normal-links"
          >
            download 3,5 MB</a
          >
        </div>
      </div>

      <div class="basis-card">
        <div class="basis-header">ID: 2</div>
        <div><span>Titel:</span> All You Need Is Love</div>
        <div><span>Komponist:</span> Beatles</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/All You Need Is Love.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/All You Need Is Love - Gitarre.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/All You Need Is Love - Beatles.zip"
            class="normal-links"
          >
            download 5,07 MB</a
          >
        </div>
      </div>
      <div class="basis-card">
        <div class="basis-header">ID: 3</div>
        <div><span>Titel:</span> Mrs. Robinson</div>
        <div><span>Komponist:</span> Simon & Garfunkel</div>
        <div><span>Instrument:</span> Gitarre</div>
        <div>
          <span>anhören</span>
          <audio controls>
            <source src="/Songs/Mrs_Robinson.mp3" type="audio/mpeg" />
            Dein Browser unterstützt das Audio-Element nicht.
          </audio>
        </div>
        <div>
          <span>ansehen:</span><a
            href="/bilder/Mrs_Robinson.pdf"
            target="_blank"
            class="normal-links"
          >
            ansehen</a
          >
        </div>
        <div>
          <span>Download:</span><a
            href="/zip_download/Mrs_Robinson.zip"
            class="normal-links"
          >
            download 4,97 MB</a
          >
        </div>
      </div>

      <!-- OneDrive Präsentation außerhalb der basis-cards -->

      <p>
        <a
          href="https://1drv.ms/p/c/26c82f8cbd14da48/ETc5Pt1TdLNGpO3xsIrFhREBGwIIFPy2QuJuP40_QJIkLQ?e=FADwX1"
          target="_blank"
          class="normal-links"
        >
          Tutorial-Präsentation online ansehen
        </a>
      </p>

      <br />
      <p>
        <a href="/" class="normal-links">home</a>
      </p>
    </article>
  </section>
</BaseLayout>
