---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPageUrl } from "../utils/getPageUrl.js";
const pageTitle = "Unterrichtsangebot von Musicstudio Ziebart";
const description = "Unter Musikunterricht habe ich alle Instrumente aufgelistet die unterrichtet werden. 🤓";
const keywords = "unterrichtsangebot von Musicstudio Ziebart, klavier, keyboard, gitarre, e-bass, e-gitarre, banjo, akkordeon, saxophon, klarinette, querfloete";
const pageUrl = getPageUrl(Astro);
---
<BaseLayout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={description}
  ogUrl={pageUrl}
  ogType="website"
  twitterTitle={pageTitle}
  twitterDescription={description}
  twitterUrl={pageUrl}
>
<article>
  <h2>Musikunterricht in Nürnberg der viel Freude bereitet!</h2>
  <section>
    <p>
      Ich biete einen Einzelunterricht und einen Gruppenunterricht an. Der
      Gruppenunterricht beträgt nur 2 Personen. Falls mal Geschwister kommen
      dann ist der Anfahrtsweg nicht so groß.
    </p>
    <p>
      Der Musikunterricht ist sowohl für Kinder, Jugendliche und Erwachsene.
      Man muss halt das Unterrichtsmaterial entsprechend dazu anpassen. Kinder
      lernen im allgemeinen leichter. Trozdem können natürlich auch Erwachsene
      von dem Unterricht profitieren. Die Erwachsenen müssen ja auch in ihrem
      Beruf sich oft weiter bilden. Bei mir ist es so das ich Kinder im Alter
      von ca. 8 Jahren bekomme. Manche bleiben dann so bis ca. 15 Jahre bei
      mir. Dann geht das Berufsleben für sie los und sie haben einfach nicht
      mehr die Zeit um sich um die Musik zu kümmern. Ja das ist leider mal so.
    </p>
    <p>
      Deswegen ist es wichtig als Kind oder Jugendlicher mit dem Musik spielen
      anzufangen sonst ist die Zeit schnell vorbei und man muss sich um andere
      Dinge kümmern.
    </p>
    <h3>Wer möchte kann zu dem Gitarrenunterricht auch singen</h3>
    <p>
      Ich mache nur Instrumental Unterricht. Bei Gitarrenunterricht wird aber
      auch dazu gesungen, aber nur wer möchte. Also ich singe dann gerne auch
      dazu. Bei Popmusik wird halt dazu gesungen und das ist auch gut so. Wir
      singen dann oft zwei stimmig wenn es nötig ist. Die Schüler singen die
      erste Stimme und ich die zweite Stimme und spiele dann meistens nur mit
      einem Bass dazu. Das kommt immer gut an. Auf jeden Fall ist es dann Live
      Musik und muss nicht immer ständig mit diesen Backing Tracks spielen,
      das nicht so gut ankommt. Kann aber bei der E-Gitarre ganz nüztlich
      sein. Ein E-Gitarrensolo zu spielen ohne Begleitung klingt halt nicht
      gut. Da sind die Backing Tracks sehr nützlich.
    </p>
    <h3>Ob Anfänger oder Fortgeschrittene ist egal</h3>
    <p>
      Ob Anfänger oder Fortgeschrittene ist egal. Die meisten Schüler die ich
      bekomme sind Anfänger. Aber ich gebe auch sehr gerne für
      Fortgeschrittene Musiker und Musikerinen den Musikunterricht. Mir macht
      es dann sogar noch mehr Spaß da dann auch was raus kommt. Bei den Bei
      den Anfängern ist es so das sie mindestens ein Jahr brauchen um dann
      auch was spielen zu können das nach Musik klingt.
    </p>
    <p>Alle Musik Interessierten sind herzlich willkommen!</p>
    <p>Ich gebe Musikunterricht für folgende Instrumente:</p>
    <p>
      Bei weiteren Fragen die wichtig beim Erwerb eines Instruments sind
      klicken Sie oben den Button Instrumentenkauf an! Hier gibt es gute Tips
      auf was man achten sollte.
    </p>
  </section>
</article>
<article class="contenitore">
  <section class="contenuto contenuto-1">
    <h4>Saiteninstrumente</h4>
    <p>
      <img
      src="/images/gitarre.png"
      alt="Bild SEO Unterrichtsangebot von Musicstudio Ziebart-Gitarre"
      aria-label="Bild SEO Unterrichtsangebot von Musicstudio Ziebart-Gitarre"
      />
    </p>
    <p>Jazz Guitar Unterricht</p>
    <p>Jazz Harmonielehre</p>
    <p>
      Gitarrenunterricht
    </p>
    <p>
      E-Gitarrenunterricht
    </p>
    <p>
      E-Bassunterricht
    </p>
    <p>
      Banjounterricht
    </p>
  </section>
  <section class="contenuto contenuto-2">
    <h4>Tasteninstrumente</h4>
    <p>
      <img
        src="/images/klavierunterricht.png"
        alt="Bild SEO Unterrichtangebot von Musicstudio Ziebart-klavierunterricht"
        aria-label="Bild SEO Unterrichtangebot von Musicstudio Ziebart-klavierunterricht"
      />
    </p>
    <p>
      Klavierunterricht
    </p>
    <p>
      Keyboardunterricht
    </p>
    <p>
      Akkordeonunterricht
    </p>
  </section>
  <section class="contenuto contenuto-3">
    <h4>Blasinstrumente</h4>
    <p>
      <img
        src="/images/saxophonunterricht.png"
        alt="Bild SEO Unterrichtangebot von Musicstudio Ziebart-Saxophonnunterricht"
        aria-label="Bild SEO Unterrichtangebot von Musicstudio Ziebart-Saxophonunterricht"
      />
    </p>
    <p>Blockflöte</p>
    <p>
      Saxophonunterricht
    </p>
    <p>
      Klarinettenunterricht
    </p>
    <p>
      Querfloetenunterricht
    </p>
  </section>
  <section class="contenuto contenuto-4">
    <h4>Percussion</h4>
    <p>Bongos</p>
  </section>
</article>
</BaseLayout>